/* Custom toast styles */
.Toastify__toast--success {
    background-color: #28a745; /* Green for success */
    color: white;
    font-weight: bold;
  }
  
  .Toastify__toast--error {
    background-color: #dc3545; /* Red for error */
    color: white;
    font-weight: bold;
  }
  
  .Toastify__toast--info {
    background-color: #17a2b8; /* Blue for info */
    color: white;
  }

  
  /* Fade-in animation
.Toastify__toast {
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
   */